@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
:root {
  --orange-color: rgb(249, 168, 133);
  --text-color: rgb(198, 198, 198);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
nav {
  margin-top: 5vh;
}
nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
.nav-links {
  font-size: 1.1rem;
}

.logo {
  height: 1.5rem;
  transform: translateY(-0.7rem);
}
.nav-icons {
  height: 1.3rem;
}
.section-1 ul {
  display: flex;
  list-style-type: none;
}
.nav-icons-2 {
  height: 1.5rem;
}
#ring-2 {
  height: 18rem;
  transform: translateY(-4rem);
  transform: translateX(8rem);
}
/* .side-rings {
  margin-top: 30vh;
  height: 12rem;
} */
#ring-1,
#ring-3 {
  height: 15rem;
  margin-top: 25vh;
}
.section-3 h1 {
  color: var(--text-color);
  opacity: 0.3;
  font-size: 8rem;
  position: absolute;
  top: 25vh;
  left: 10vw;
}
.section-2 li {
  list-style-type: none;
}
.section-2 li img {
  height: 3rem;
  padding: 5px;
}
.section-2 p img {
  height: 3rem;
  padding: 5px;
}

.limited-time-text {
  color: var(--text-color);
  font-size: 1rem;
}
.view-details-btn,
.sign-up-btn {
  background-color: black;
  color: white;
  width: 15rem;
  border-radius: 20px;
  border: none;
  height: 2.4rem;
  letter-spacing: 1px;
}
.section-4 p,
.section-7 p {
  color: var(--text-color);
  letter-spacing: 1px;
}
.section-5 {
  position: absolute;
  top: 60rem;
  left: 14rem;
}
.section-5 img {
  height: 18rem;
  width: 15rem;
}
.section-6 .orange-bg {
  margin-top: 30vh;
  background-color: var(--orange-color);
  height: 40vh;
}
.section-8 img {
  height: 12rem;
  width: 10rem;
}
.section-9 p {
  color: var(--text-color);
  font-size: 1.2rem;
}
.section-9 input {
  border: none;
  border-bottom: 2px solid var(--text-color);
  width: 65%;
  color: var(--text-color);
  outline: none;
}
.section-9-img {
  height: 10rem;
  width: 10rem;
}
.square-images li {
  list-style-type: none;
  margin: 3rem 0rem;
}
.square-images li img {
  height: 10rem;
  width: 10rem;
}
footer {
  color: var(--text-color);
  background-color: rgba(243, 243, 243, 0.74);
  height: 70vh;
  width: 100vw;
}
.orange {
  color: var(--orange-color);
  font-size: 1.2rem;
}
footer p {
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.footer-links li {
  list-style-type: none;
  margin: 1rem;
}
.payment-methods li {
  list-style-type: none;
  margin: 1rem;
}
.payment-methods li img {
  height: 2rem;
  width: 5rem;
}
.last-thing {
  font-size: 0.8rem;
}
