@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
:root {
  --bg-color: rgb(249, 168, 133);
  --text-color: rgb(198, 198, 198);
}
* {
  margin: 0;
  padding: 0;
}

.my-navbar {
  font-family: "Poppins";
  color: white;
}
.my-navbar li i {
  font-size: 1.5rem;
}
.navbar-toggler-icon {
  color: rgb(0, 0, 0);
}
.navbar a,
.section-1 a {
  text-decoration: none;
  color: black;
}
.navbar a:hover,
.section-1 a :hover {
  color: black;
}
.navbar ul li {
  font-size: large;
}
.ring2 {
  height: 15rem;
  width: 15rem;
  transform: translateY(-18rem);
}
.ring1 {
  height: 9rem;
  width: 9rem;
}
.ring3 {
  height: 12rem;
  width: 12rem;
}

.ring2:hover,
.ring1:hover,
.ring3:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.4s;
}

.section-2 {
  margin-top: 30vh;
}
.section-3 p {
  position: absolute;
  font-size: 8rem;
  color: rgba(232, 232, 232, 0.55);
  font-weight: bolder;
  top: 11rem;
  left: 12rem;
  z-index: -1;
  font-family: "Poppins";
}
.section-2 h6 {
  color: rgb(204, 204, 204);
}
.my-text {
  font-family: "Poppins";
}
.view-details-btn {
  background-color: black;
  color: white;
  padding: 8px 50px;
  border-radius: 50px;
  border: none;
}
.section-2 ul li {
  list-style-type: none;
  height: 3rem;
  width: 3rem;
}

.section-4,
.section-7 {
  font-family: "Poppins";
  margin-top: 5rem;
}
.section-7 {
  font-family: "Poppins";
  margin-top: 10rem;
}
.section-4 p,
.section-7 p {
  color: rgb(176, 175, 175);
}
.other-rings {
  top: 4rem;
  z-index: 10;
  position: relative;
}
.my-bg {
  background-color: var(--bg-color);
  width: 100vw;
  height: 40vh;
  position: absolute;
  top: 92rem;
}
.section-9 {
  margin-top: 10rem;
  font-family: "Poppins";
}
.section-9 p {
  color: rgb(160, 160, 160);
  font-size: 1.3rem;
}
input {
  font-size: 1.3rem;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(196, 196, 196);
  color: gray;
  min-width: 20rem;
}
footer {
  color: var(--text-color);
  background-color: rgba(243, 243, 243, 0.74);
}
.footer-text1 {
  font-size: 1.2rem;
  color: var(--bg-color);
  font-family: "Poppins";
}
.footer-text2 {
  font-size: 1.2rem;
  font-family: "Poppins";
}
.footer-links a {
  text-decoration: none;
  color: gray;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: var(--bg-color);
  border: 1px solid rgb(192, 192, 192);
  color: white;
  cursor: pointer;
  padding: 15px 16px;
  border-radius: 5px;
  font-size: 18px;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 900px) {
  .section-3 p {
    display: none;
  }
  .ring2 {
    transform: translateY(0);
  }
  .section-2 ul li {
    list-style-type: none;
    height: 2.2rem;
    width: 2.2rem;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    height: 7rem;
    width: 7rem;
  }
  .section-2 ul li {
    list-style-type: none;
    height: 2rem;
    width: 2rem;
  }

  .navbar-toggler-icon {
    font-size: 1rem;
  }
  .section-1 img {
    height: 1.2rem;
    width: 1.2rem;
  }
}
